.button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #E0E0E0;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: auto;
    height: 40px;
    transition: var(--transition);
    padding: 10px;
    flex-shrink: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button:hover {
    filter: var(--hover-color);
}
