
.clickable-text {
    color: var(--primary-color);
    transition: var(--transition);
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
    
.clickable-text:hover {
    filter: var(--hover-color);
}


#settingsList {
    font-size: 14px;
    color: var(--primary-color);
}
