:root {
    --primary-color: #666DCC;
    --secondary-color: #DADCF2;
    --text-color: black;
    --hover-color: brightness(0.90);
    --bg-glass: rgba(0, 0, 0, 0.05);
    --transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s ease;
}

.dark-theme {
    --primary-color: #474FB3;
    --secondary-color: #12121A;
    --text-color: #E0E0E0;
    --hover-color: brightness(1.1);
    --bg-glass: rgba(255, 255, 255, 0.05);
    --transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s ease;
}   